img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(../image/fitness-main.jpg);
    background-size: contain;
    background-position: center -108px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-top-bar {
    background: #D01919;
    color: #fff;
}

.section-top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.section-top-bar .socials {
    display: flex;
}

.section-top-bar .socials li,
.section-top-bar .socials a {
    display: block;
}

.section-top-bar .socials li {
    padding: 0 0.5em;
}

.section-top-bar .socials a span {
    display: none;

}

.section-top-bar a {
    color: #fff;
}

.section-site-header {
    /* background: #000; */
    color: #fff;
}

.section-site-header .container {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.section-site-header .site-title {
   display: none;
}

.section-site-header a {
    color: #fff;
}

.media {
    padding-bottom: 1em;
}

.section-coaches {
    background: #EFEFEF;
}



